@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat1.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat2.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat3.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat4.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat5.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat6.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat7.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat8.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Fonts/Montserrat9.ttf');
  font-weight: 900;
}


:root {
  font-size: 14px;
}


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #6c63ff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#root {
  flex-grow: 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 80vh;
}

@media screen and (min-width: 600px) {
  body {
    height: 100vh;
  }
}

@media screen and (max-width: 435px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (max-width: 260px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 214px) {
  :root {
    font-size: 6px;
  }
}